.box-pane {
    border-radius: 3px;
    padding: 35px;
    box-sizing: border-box;
    min-height: 570px;
    width: 85%;
  }

  body {
    justify-content: center;
    align-items: center;
    font-family: Roboto, Arial, sans-serif;
    margin: auto;
    background: white;
    padding: 10px;
  }

  h2 {
    font-size: 24px;
    font-weight: 550;
    text-align: center;
    width: 14%;
  }

  #form {
    border: 1px solid black;
  }

  input {
    width: 100%;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 1px solid rgba(151, 150, 150, 0.788);
    border-radius: 5px;
    resize: vertical;
    width: 40%;
  }

  #res {
    font-size: 20px;
    padding: 10px;
    font-family: Roboto, Arial, sans-serif;
    background-color: rgb(77, 84, 95);
    color: rgb(239, 240, 227);
    width: 40%;
  }
  
  #resultat {
    width:40%;
    height: 5.5vh;
    border: rgb(97, 91, 91) solid 1px;
    border-radius: 5px;

  }

  @media screen and (max-width: 1450px,) {
    #resultat, #res, #form, input, body, h2{
        float:none;
        width:100%;
        margin-bottom:20px;
    }
    
    .box-pane{
        min-height:110px;
    }
}
